.addService{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    z-index: 100;
  }

  .addService input{
    height: 40px;
    border: unset;
    font-size: 18px;
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
    border-bottom: 1.5px solid hsl(210, 10%, 75%);
    padding-left: 5px;
  }
  
  .addService input:focus{
    outline: none;
  }
  


  
.addService button {
   margin: 10px;
   padding: 8px 20px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   font-size: 14px;
   color: #000;
  
   background-size: 200% auto;      
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: block;
   cursor: pointer;
 }

 .addService button:hover {
   background-position: right center; 
   color: #000;
   text-decoration: none;
   background-color: #74bfe9;
 }
  
  .addService textarea {
    height: 150px;
    border-color: hsl(210, 10%, 75%);
    padding: 5px;
    font-size: 18px;
  }
  
  .addService textarea:focus { 
    outline: none;
  }
  
  