
.title{
  font-size: 40px;
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}



.dashboard__container {
  animation: 1.5s ease-out 0.4s 1 slideInFromLeft;
    animation-fill-mode: both;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #fff;
  padding: 30px;
  border-width: 20px;
  border-radius: 10px;
  box-shadow: 0px 1px 30px 0px rgba(140, 92, 92, 0.50);
}

.details{
  margin-bottom: 10px;
}

.heading{
  font-weight: 600;
}



.dashboard__btn {
  padding: 10px;
  font-size: 18px;
  margin-top: 10px;
  border: none;
  color: white;
  cursor: pointer;
  background-color: black;
  border-radius: 5px;
}

.register__btn{
  cursor: pointer;
}

h1 {
  color: #000;
  font-size: 2.5rem;
  font-weight: 600;
}

h1:hover{
  color: #74bfe9;
  cursor: pointer;
}

.Services h1{
  font-size: 4rem;
  opacity: 0.8;
}

.user{
  display: flex;
  flex-direction: column;
}

.user img {
  max-width: 170px;
  align-self: center;
  justify-self: center;
}

h2,
p {
  color: #000;
  font-weight: 600;
  opacity: 0.8;
}

h3 {
  color: #4158d0;
  font-weight: 600;
  opacity: 0.8;
}

.outer-div{
  background-color: #fff;
}

.main-div{
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  border: 5px solid #fff;
  justify-content: center;
  padding: 0px 200px;
  display: flex;
  
}

.main-nav{
  border-bottom: 2px #000 solid;
}

.main-nav h1{
  font-weight: 900;
}

main {
  font-family: "Poppins", sans-serif;
  min-height: 80vh;
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
}

.glass {
  min-height: 80vh;
  display: flex;
  width: 60%;
  border-radius: 2rem;
  z-index: 3;
  backdrop-filter: blur(2rem);
}


.dashboard {
  height: 90vh;
  width: 100vw;
  flex: 1;
  display: flex;
  margin-top: 20px;
  border: 2px #000 solid;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  text-align: center;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.9),
    rgba(255, 255, 255, 0.5)
  );
  border-radius: 1rem;
}



.link {
  display: flex;
  padding: 0rem 4rem;
  align-items: center;
}

.status {
  text-align: center;
}

.Services {
  display: flex;
  flex:2;
  flex-direction: column;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  
  padding: 2rem;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 40px;
  border: 2px #000 solid;
}

.card {
  display: flex;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  margin: 2rem 0rem;
  border-radius: 2rem;
  padding: 1.5rem;
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.2);
  justify-content: space-between;
}

.button-link{
  text-decoration: none;
  color: #000;
}

.buttons{
  display: flex;
  justify-content: space-evenly;
}


.user-btn {
   margin: 10px;
   padding: 8px 20px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   font-size: 14px;
   color: #000;
   border: 2px #000 solid;
   box-shadow: 0 3px 10px rgb(0 0 0 / 0.7);

   background-size: 200% auto;           
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: block;
   cursor: pointer;
 }

 .user-btn:hover {
   background-position: right center; 
   text-decoration: none;
   background-color: #74bfe9;
 }
 
@media (max-width: 1250px) {
  .glass {
    display: flex;
    flex-direction: column;
  }

  .card {
    display: flex;
    flex-direction: column;
  }
}

